header{
    width: 100%;
    min-height: 20px;
}

.main-section{
    padding: 50px;
    
    .container{
        min-width: 600px;
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;

        .pic{
            width: 600px;
        }

        .house{
            padding-left: 100px;
        }

        .col-md-3{
            min-width: 400px;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .booking{
            min-height: 300px;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-top: -50px;
            
        
            .time, date{
                display: flex;
                
                h5{
                    padding: 10px;
                }
            }
        }
    }
}











